.inicioEdad-categoria {
    padding: 10px;
    margin: 20px;

    >h3 {
        font-size: 3em;
        text-transform: uppercase;
        color: $clr-gray100;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        color: $clr-gray600;
    }
}

.Categoria {
    padding: 30px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    a {
        text-decoration: none;

        >div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            text-transform: uppercase;
            margin: 0 20px;
            padding: 10px;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            width: 120px;

            &:active {
                -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
                box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
            }

            >p {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                color: $clr-gray600;
                font-size: 1.2em;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
            }
        }
    }

    a>div {
        margin: 20px 10px;

        >img {
            height: 80px;
        }
    }
}

.active {
    background-color: #D4D8BF;
    border-bottom: 4px solid #284258;
    -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
    box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
}

.no-active {
    background-color: #D4D8BF;
    border: 1px solid rgb(173, 168, 168);
}