.ItemDetailContainerLoader {
    min-height: calc((100vh - 127px) - 265px);
}

.ItemDetail {
    margin: 20px;

}

.indice-ItemDetail {
    padding: 5px;
}

.indice-estructura {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1em;
    line-height: 34px;

    @media (max-width: 500px) {
        font-size: 12px;
    }

    >li {
        text-decoration: none;
        list-style: none;

        >span {
            padding: 5px;
            display: none;
        }

        >a,
        strong {
            cursor: pointer;
            background: $main-color;
            color: #fff;
            margin: .2em .75em;
            padding: 0 .75em;
            height: 32px;
            text-decoration: none;
            display: inline-block;
            position: relative;
            -webkit-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;

            &:hover,
            &:hover::before,
            &:hover::after {
                background-color: $main-color-3;
                color: #333;
                -webkit-transition: all 0.2s ease-in-out;
                -o-transition: all 0.2s ease-in-out;
                transition: all 0.2s ease-in-out;
            }

            &::before {
                content: "";
                background: $main-color;
                width: 1em;
                height: 101%;
                -webkit-transition: background-color 0.2s ease-in-out;
                -o-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;
                -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
                clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%, 100% 50%);
                display: inline-block;
                position: absolute;
                left: -0.96em;

                @media (max-width: 500px) {
                    left: -0.9em;
                }
            }

            &::after {
                content: "";
                background: $main-color;
                width: 1em;
                height: 101%;
                -webkit-transition: background-color 0.2s ease-in-out;
                -o-transition: background-color 0.2s ease-in-out;
                transition: background-color 0.2s ease-in-out;
                -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
                clip-path: polygon(0 0, 100% 50%, 0 100%);
                display: inline-block;
                position: absolute;
                right: -0.91em;

                @media (max-width: 500px) {
                    right: -0.9em;
                }
            }
        }

        >strong {
            background-color: $main-color-3;
            color: #333;
            cursor: default;

            &::after,
            &::before {
                background-color: $main-color-3;
            }

            & &:hover,
            &:hover::before,
            &:hover::after {
                background-color: $main-color-3;
            }
        }
    }
}

.ItemDetail-c {
    border-radius: 5px;
    padding: 50px;
}

.ItemDetail-col2 {
    background-color: $main-color-2;
    padding: 20px 0;
}

.ItemDetail-col2-container {
    padding: 0 20px;
}

/* titulo prducto */
.Titulo-producto {
    font-size: 3em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    border-radius: 20px;
}

/* bordes hr */
.ItemDetail-hr {
    border: 0;
    height: 2px;
    background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($main-color), to(transparent));
    background-image: -o-linear-gradient(left, transparent, $main-color, transparent);
    background-image: linear-gradient(to right, transparent, $main-color, transparent);
}

.ItemDetail-hr-2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: -webkit-gradient(linear, left top, right top, from($main-color), color-stop($main-color-3), to($main-color));
    background-image: -o-linear-gradient(left, $main-color, $main-color-3, $main-color);
    background-image: linear-gradient(to right, $main-color, $main-color-3, $main-color);
}

/* stock producto */
.Stock-producto {
    font-size: 1.2em;
    padding: 5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/* precio producto */
.Precio-producto {
    font-size: 1.7em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    padding: 5% 0;
}

.Descripcion-producto {
    font-size: 1.3em;
    padding: 10% 0 0 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 200;
}

.carousel {
    margin: auto !important;

    .carousel-status {
        display: none;
    }

    >div {
        width: 500px !important;
    }

    img> {
        border-radius: 10px !important
    }
}

/* medias */
@media (min-width: 992px) {
    .carousel {
        >div {
            width: 400px !important;
        }
    }
}

@media (min-width: 1200px) {
    .carousel {
        >div {
            width: 500px !important;
        }
    }
}

@media (max-width: 600px) {
    .carousel {
        >div {
            width: 340px !important;
        }
    }

    .ItemDetail {
        margin: 20px 10px;
    }
}

.ItemDetail-extra {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.ItemDetail-extra-drop {
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.5em;
    background-color: transparent;
    border: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ItemDetail-extra-dropdown {
    margin-left: 5px;
    margin-top: 10px;
    font-weight: 300;

    >img {
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

.slide {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.ItemCount-Check {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 40px 0;

    >ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        >li {
            text-decoration: none;
            list-style: none;
            padding: 0 4%;
        }
    }

    li:nth-child(1) {
        a>button {
            border: 2px solid transparent;
            background-color: $main-color-3;
            padding: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            width: 200px;
            height: 40px;
            -webkit-box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);

            &:active {
                background-color: $main-color-3;
                -webkit-box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);


            }
        }
    }

    li:nth-child(2) {
        a>button {
            border: 2px solid transparent;
            background-color: #ccc;
            padding: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            width: 200px;
            height: 40px;
            -webkit-box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);
            box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);

            &:active {
                background-color: #86B5CF;
                -webkit-box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);


            }
        }
    }
}