.ItemDetail {
    margin: 20px;
}

.indice-ItemDetail {
    padding: 5px;
}

.indice-estructura {
    display: flex;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;

    >li {
        text-decoration: none;
        list-style: none;

        >span {
            padding: 5px;
        }

        >a {
            cursor: pointer;
        }
    }
}

.ItemDetail-c {
    border-radius: 5px;
    padding: 50px;
}

.ItemDetail-col2 {
    background-color: $main-color-2;
    padding: 20px 0;
}

.ItemDetail-col2-container {
    padding: 0 20px;
}

/* titulo prducto */
.Titulo-producto {
    font-size: 3em;
    display: flex;
    justify-content: center;
    border-radius: 20px;
}

/* bordes hr */
.ItemDetail-hr {
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, transparent, $main-color, transparent);
}

.ItemDetail-hr-2 {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, $main-color, $main-color-3, $main-color);
}

/* stock producto */
.Stock-producto {
    font-size: 1.2em;
    padding: 5px 0;
    display: flex;
    justify-content: center;
}

/* precio producto */
.Precio-producto {
    font-size: 1.7em;
    display: flex;
    justify-content: start;
    padding: 5% 0;
}

.Descripcion-producto {
    font-size: 1.3em;
    padding: 10% 0 0 0;
    display: flex;
    font-weight: 200;
}

.carousel {
    margin: auto !important;

    >div {
        width: 500px !important;
    }

    img> {
        border-radius: 10px !important
    }
}

/* medias */
@media (min-width: 992px) {
    .carousel {
        >div {
            width: 400px !important;
        }
    }
}

@media (min-width: 1200px) {
    .carousel {
        >div {
            width: 500px !important;
        }
    }
}

@media (max-width: 600px) {
    .carousel {
        >div {
            width: 340px !important;
        }
    }

    .ItemDetail {
        margin: 20px 10px;
    }
}

.ItemDetail-extra {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ItemDetail-extra-drop {
    margin: 0 20px;
    cursor: pointer;
    font-size: 1.2em;
}

.slide {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ItemCount-Check {
    display: flex;
    justify-content: center;
    margin: 40px 0;

    >ul{
        display: flex;
        justify-content: center;
        >li{
            text-decoration: none;
            list-style: none;
            padding: 0 4%;
        }
    }
        
    li:nth-child(1) {
        a>button {
            border: 2px solid transparent;
            background-color: $main-color-3;
            padding: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            width: 200px;
            height: 40px;
            box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);

            &:active {
                background-color: $main-color-3;
                box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);


            }
        }
    }

    li:nth-child(2) {
        a>button {
            border: 2px solid transparent;
            background-color: #ccc;
            padding: 10px;
            font-size: 1rem;
            text-transform: uppercase;
            font-weight: bold;
            border-radius: 5px;
            width: 200px;
            height: 40px;
            box-shadow: 0px 6px 10px 0px rgb(0 0 0 / 50%);

            &:active {
                background-color: #86B5CF;
                box-shadow: inset 0px 0px 10px 0px rgb(0 0 0 / 50%);


            }
        }
    }
}