.itemListContainer {
    z-index: 61111;
}

.container-Card {
    display: flex;
    margin: auto;
    padding: 40px;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;


}

.Card-itemlist {
    display: flex;
    flex-wrap: wrap;
}

.Card {
    display: flex;
    justify-content: center;
    padding: 0 30px 30px 40px;
    margin: auto;
    width: 300px;

}

.Card-p2 {
    background-color: white;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
    padding-bottom: 20px;


    >img {
        padding: 0;
        margin: 0;
    }
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
    position: relative;



    >a {
        img {
            transition: all 0.4s;


            &:hover {
                transition: all 0.3s;
                transform: scale(1.05);
            }
        }
    }
}

.Card-txt {
    >a {
        text-decoration: none;
        cursor: pointer;

        >h3 {
            text-transform: uppercase;
            display: flex;
            justify-content: center;
            padding-top: 0;
            margin-top: 0;
            color: $clr-gray700;
        }
    }

    >a {
        text-decoration: none;
        cursor: pointer;

        >span {
            display: flex;
            justify-content: center;
            padding: 0 10px;
            margin-top: 10px;
        }
    }
}