.Categoria-inicio {
    margin: 50px 0;

    >div {
        margin: 40px 0;
        display: flex;
        justify-content: center;

        >h3 {
            font-weight: 900;
            font-size: clamp(2em, 8vw - 2em, 3em);
            text-align: center;
        }
    }

    >div {
        display: flex;
        justify-content: center;

        @media (max-width:1200px) {
            flex-direction: column;
        }

        >div {
            position: relative;
            display: flex;
            flex-wrap: wrap;

            @media (max-width:1200px) {
                margin: auto;
            }

            >img {
                width: 400px;
                margin: 10px;
                filter: blur(1px) grayscale(0.3);

                @media (max-width:500px) {
                    width: 300px;
                }
            }

            >li {
                text-decoration: none;
                list-style: none;


                >a {

                    >div {
                        width: 200px;
                        height: 50px;
                        position: absolute;
                        background-color: #DAC8B5;
                        transition: all 0.2s;

                        &:hover {
                            background-color: $clr-gray400;

                            >h4 {
                                color: white;
                            }
                        }

                        top: 80%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 15px;



                        &:active {
                            box-shadow: inset 1px 5px 16px 3px rgb(0 0 0 / 60%);
                        }

                        >h4 {
                            text-transform: uppercase;
                            font-size: 2em;
                            color: $clr-gray600;
                        }
                    }
                }
            }
        }

        >div:nth-child(2) {
            >li>a>div {
                background-color: #3255A5;
                transition: all 0.2s;

                &:active {
                    box-shadow: inset 1px 5px 16px 3px rgb(0 0 0 / 60%);
                }

                &:hover {
                    transition: all 0.2s;
                    background-color: $clr-gray300;

                    >h4 {
                        color: $clr-gray700;
                    }
                }

                >h4 {
                    color: white;
                }
            }
        }

        >div:nth-child(3) {
            >li>a>div {
                background-color: #868686;
                transition: all 0.2s;

                &:active {
                    box-shadow: inset 1px 5px 16px 3px rgb(0 0 0 / 60%);
                }

                &:hover {
                    background-color: #3A1A01;

                    >h4 {
                        color: $clr-primary-hover;
                    }
                }

                >h4 {
                    color: $clr-gray200;
                }
            }
        }
    }
}