/* Cart */
.Cart-Section {
    margin-top: 50px;
    min-height: calc((100vh - 160px) - 265px);
}

.Cart-Section-01 {
    padding: 0 30px 0 0;

    @media (max-width:992px) {
        padding: 0 30px;
    }

    @media (max-width:500px) {
        padding: 0 6px;
    }

    .Cart-Section-01-borrarTodo {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        >button {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            color: #161d34;
            border: 1px solid black;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-weight: bold;
            text-transform: uppercase;
            width: auto;
            padding-right: 12px;
            font-size: 1em;
            height: 40px;
            background-color: #e1e5ee;

            @media (max-width:500px) {
                font-size: 12px;
            }

            &:active {
                -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
            }

            >svg {
                font-size: 24px;
                margin: 0 10px;

                @media (max-width:500px) {
                    font-size: 18px;
                }
            }
        }
    }

    .Cart-Section-01-borrarTodoConfirm {
        -webkit-box-pack: end;
        -ms-flex-pack: end;
        justify-content: end;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;

        >span {
            text-transform: uppercase;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            font-size: 1em;

            @media (max-width:500px) {
                font-size: 14px;
            }
        }

        >button {
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            border-radius: 5px;
            margin: 0 5px;
            font-size: 1em;
            height: 40px;
            width: 40px;
            background-color: #e1e5ee;

            @media (max-width:500px) {
                font-size: 15px;
                height: 30px;
                width: 30px;
            }

            &:active {
                -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
            }

            >svg {
                font-size: 24px;
                margin: 0 10px;

                @media (max-width:500px) {
                    font-size: 18px;
                }
            }
        }
    }
}

/* seccion1 */
.Cart-Section-1 {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;

    >a {
        text-decoration: none;
        color: $clr-gray700;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        border: 1px solid black;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-weight: bold;
        text-transform: uppercase;
        margin-right: 12px;
        width: 140px;
        height: 40px;
        background-color: $clr-gray300;

        &:active {
            -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
            box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
        }

        @media (max-width: 556px) {
            width: auto;
        }
    }

    >span {
        width: calc((100% - 150px - 70px) / 2.5);
        background-color: $clr-gray400;
        color: white;
        height: 40px;
        line-height: 40px;
        text-align: center;
        position: relative;
        text-transform: uppercase;

        @media (max-width:768px) {
            width: calc((100% - 30px - 30px) / 2.5);
            font-size: 12px;
        }
    }
    .cart-progress{
        background-color: #F0F0F0!important;
        color: $clr-gray400;
    }

    >div {
        width: 34px;
        height: 10px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        background-color: $clr-gray400;
        -webkit-transform: translateY(150%);
        -ms-transform: translateY(150%);
        transform: translateY(150%);

        @media(min-width:769px) {
            width: 65px;
        }
    }
}

.Cart-Section-1p2 {
    background-color: $clr-gray300;
    margin: 15px 0;

    div {
        padding: 1px 0;

        .Cart-Section-hr {
            border: 1px;
            height: 1px;
            background: $main-color-3;
            width: 98%;
            margin: revert;
            background-image: -webkit-gradient(linear, left top, right top, from($main-color), color-stop($main-color-3), to($main-color));
            background-image: -o-linear-gradient(left, $main-color, $main-color-3, $main-color);
            background-image: linear-gradient(to right, $main-color, $main-color-3, $main-color);
        }
    }
}

.Cart-Section-1p2-em {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    padding: 20px 0;
    font-size: 1.2em;

    @media(max-width:500px) {
        font-size: 1em;
    }
}

/* seccion 2 */
.Cart-Section-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 50px 0;

    >span {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 45px;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: auto;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 266px;
        background-color: #767b91;
        color: #f9fbff;
        font-size: 1.25em;
        text-transform: uppercase;

        @media(max-width:500px) {
            width: 240px;
            font-size: 1em;
        }
    }

    >hr {
        border: 0;
        height: 2px;
        background-image: -webkit-gradient(linear, left top, right top, from(transparent), color-stop($main-color), color-stop($main-color), to(transparent));
        background-image: -o-linear-gradient(left, transparent, $main-color, $main-color, transparent);
        background-image: linear-gradient(to right, transparent, $main-color, $main-color, transparent);
        width: 100%;
    }

    >button,a {
        border: 2px solid transparent;
        text-decoration: none;
        justify-content: center;
        display: flex;
        margin: auto;
        color: #161d34;
        padding: 10px;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: bold;
        border-radius: 5px;
        width: 200px;
        height: 40px;
        cursor: default;

        @media(max-width:500px) {
            width: 180px;
            height: 40px;
            font-size: 0.9em;
        }
    }
}

.cart-active {
    background-color: #08d072;
    cursor: pointer !important;

    &:active {
        -webkit-box-shadow: inset 0px 6px 10px 0px rgb(0 0 0 / 50%);
        box-shadow: inset 0px 6px 10px 0px rgb(0 0 0 / 50%);
    }
}
.hola{
    background-color: red!important;
}

.cart-cancel {
    background-color: $instagram-color;
    color: white!important;
    &:active{
        -webkit-box-shadow: inset 0px 6px 10px 0px rgb(0 0 0 / 50%);
        box-shadow: inset 0px 6px 10px 0px rgb(0 0 0 / 50%);
    }
}

.Cart-items {
    padding: 0 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    .Cart-items-titulo {
        color: $clr-gray600;
    }

    li {
        list-style: none;
    }

    >img {
        width: 50px;
    }

    div:nth-child(2) {
        width: 176px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media(max-width:492px) {
            width: 76px;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        }

        p {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            align-items: center;
            font-size: 1em;
            width: 133px;

            @media(max-width:500px) {
                font-size: 12px;
            }
        }
    }

    div:nth-child(3) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        >button {
            width: 23px;
            background-color: transparent;
            border: 2px solid #8fb0c9;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            height: 23px;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            &:active {
                -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
            }
        }
    }

    div:nth-child(4) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        @media(max-width:500px) {
            font-size: 12px;
        }
    }

    div:nth-child(5) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        width: 60px;

        >button {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 50%;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            width: 25px;
            background-color: transparent;
            font-weight: bold;
            border: 3px solid $clr-gray700 !important;

            @media(max-width:500px) {
                width: 20px;
                height: 20px;
                font-size: 12px;
            }

            &:active {
                -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
            }
        }

        >div {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: end;
            -ms-flex-pack: end;
            justify-content: end;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;

            >button {
                margin: 0 3px;
            }

            button:nth-child(1),
            button:nth-child(2) {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                border-radius: 50%;
                -webkit-box-pack: center;
                -ms-flex-pack: center;
                justify-content: center;
                -webkit-box-align: center;
                -ms-flex-align: center;
                align-items: center;
                padding: 3px;
                width: 25px;
                height: 25px;
                background-color: transparent;
                border: 3px solid $clr-gray700 !important;
                font-weight: bold;
                color: $clr-primary-dark;

                @media(max-width:500px) {
                    width: 20px;
                    height: 20px;
                    font-size: 12px;
                }

                &:active {
                    -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                    box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
                }
            }

            button:nth-child(2) {
                color: rgb(224, 6, 6);
            }
        }
    }
}

.Cart-itemCount {
    background-color: #86b5cf69;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 23px;
    width: auto;
    min-width: 30px;



    @media(max-width:500px) {
        font-size: 12px;
    }
}

.Cart-ItemCount-Button-Disable {
    width: 23px;

    border: 2px solid #8fb0c9;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 23px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    cursor: default;
    -webkit-box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
    box-shadow: inset 0px 5px 10px 0px rgb(0 0 0 / 50%);
    background-color: $clr-gray300 !important;

    >svg {
        color: red;
    }

}

.Cart-Section-2-Montos {
    margin: 20px 0 10px 0;

    >div {
        >span {
            font-weight: bold
        }

        >p {
            font-weight: 800;
            font-size: 0.9em;

            @media (min-width:1200px) {
                font-size: 1em;
            }
        }
    }

    div:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 10%;

        @media (min-width:1500px) {
            margin: 0 55px;
        }
    }

    div:nth-child(2) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        margin: 0 10%;

        @media (min-width:1500px) {
            margin: 0 55px;
        }
    }
}